{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex min-h-screen">
        <div class="flex-1 flex items-center justify-center">
            <div class="bg-white rounded-lg p-8 relative w-full">
                <h1 class="text-center text-lg font-bold">Accès refusé</h1>
                <p class="text-center text-sm font-medium mt-10">Vous n'avez pas les droits nécessaires pour accéder à cette page</p>
                <a href="{{ path('app_logout') }}" class="block mt-10 text-center text-sm font-medium text-red-600">Déconnexion</a>
            </div>
        </div>
    </div>
{% endblock %}
