<a class="flex items-center space-x-2 p-2 rounded-lg group {{ app.request.get('_route') == route ? 'bg-gray-100 *:!fill-blue-500' : 'hover:bg-gray-100 *:!fill-black' }}" href="{{ path(route) }}">
    {{ include('icon/' ~ icon ~ '.html.twig') }}
    <span>{{ label }}</span>
</a>
